@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="/assets/client/js/controller/cartController.js"></script>
}
<div class="content">
    <h3>My Shoping Bag (@Model.Count)</h3>
    <div class="container_cart">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="row shoping-bag">
                    <div class="col-md-3">
                        <img src="@item.Product.Image" class="img-item" alt="" />
                    </div>
                    <div class="col-md-6">
                        <h4>@item.Product.Name</h4>
                        <p>
                            Pickup Time: @item.Product.CreatedDate <br />
                            @item.Product.Description
                        </p>
                        Số lượng: <input type="number" id="numberOfProduct" min="1" step="1" value="1" />
                        <br />
                        <br />
                        Đơn giá: <span id="price">@item.Product.Price</span> VND
                        <br />
                        <br />
                        <p style="font-size: 18px;">
                            Tổng: <strong><span id="sum" style="font-size:1.5em; font-weight: bold;"></span></strong>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-id="@item.Product.ID" class="btn-delete">&#10006</a>
                        <br />
                        <br />
                        Giao hàng trong vòng 2 ngày
                    </div>
                </div>
                <br />
            }

            <div class="btn_btn">
                <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
                <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
                <button id="btnDeleteAll" class="btn">Xoá giỏ hàng</button>
                <button id="btnPayment" class="btn">Thanh toán</button>
            </div>

        }
        else
        {
            <div class="empty-cart">
                Chưa có sản phẩm nào trong giỏ hàng
            </div>
        }

    </div>
</div>